/* styles.css */
body {
  background-color: rgb(68, 14, 122);
  display: grid;
  grid-template-columns: 35vw 10vw 35vw;
  grid-template-rows: 100vh;
  border: 3px red solid;
  color: white;
  justify-content: center;
  align-items: center;
  white-space: pre-line;
}

.grid {
  display: grid;
  grid-template-columns: repeat(10, 10%);
  grid-template-rows: repeat(10, 10%);
  border: 3px rgb(0, 255, 136) solid;
  aspect-ratio: 1 / 1;
}
.cell {
  background-color: red;
  width: 1fr;
  height: 1fr;
  align-content: center;
  text-align: center;
  border: 1px rgb(93, 102, 98) solid;
  aspect-ratio: 1 / 1;
}

.hitShip {
  background-color: black;
}
.miss {
  background-color: yellow;
}
.highlight {
  background-color: yellow;
}
#player1Ships,
#player2Ships {
  border: 2px black solid;
  height: 10vh;
  display: flex;
}
.hidden {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
.show {
  display: block;
}
.text {
  color: red;
}
.buttonShips {
  width: 40px;
  border: red 2px solid;
  height: 40px;
}
#player1Side,
#player2Side {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  border: 2px rgb(175, 243, 17) solid;
  height: 100%;
}
#settings {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  border: 2px green solid;
  height: 100%;
}
